<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="refresh" content="600">
		<title>Battlefield3 Dashboard</title>
		<%= partial :stylesheets %>
	</head>
	<body id="base-bf3-body">
		<div id="base-wrapper">
			<div id="content-container">
				<div id="content">
					<div class="base-middle">
						<%= partial "team_header" %>
						<%= partial "leaderboard/table" %>
					</div>
				</div>
			</div>		
		</div>		
	</body>
</html>
