<div class="common-leaderboard-headercells">
	<div class="common-leaderboard-th leaderboard-venice-row-list-th-title">Leaderboard</div>
	<div class="common-leaderboard-th leaderboard-venice-row-list-th-topf">Soldiers</div>
 	<div class="base-clear"></div>
</div>
