<div class="leaderboard-venice-rowlist">
	<div class="leaderboard-venice-rowlist-left">
		<div style="text-decoration: none;" id="Mp_Main_Score" href="#">
			<div class="leaderboard-venice-rowlist-icon">
				<img src="http://battlelog-cdn.battlefield.com/public/leaderboard/icons/Mp_Main_Score.png?v=3173239">
			</div>
			<div class="leaderboard-venice-rowlist-left-info ">
				<div class="leaderboard-venice-rowlist-left-info-title">TOP SCORE</div>
				<div class="leaderboard-venice-rowlist-left-info-scoretype">Score</div>
			</div>
		</div>
	</div>						 		
	<div class="leaderboard-venice-rowlist-middle ">
		<div class="wrapper">
			<%= partial :"leaderboard/soldier", collection: @top_score, 
				locals: {
					:score_formater => lambda {|soldier| 
						number_format(soldier.score)
					}
				} %>
		</div>
	</div>
</div>
